body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.image-highlight{
    color: orange;
}
.half-weidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-weidth img{
    width: 100%;
}